(
A,
Aacute,
Abreve,
Abreveacute,
Abrevedotbelow,
Abrevegrave,
Abrevehookabove,
Abrevetilde,
Acaron,
Acircumflex,
Acircumflexacute,
Acircumflexdotbelow,
Acircumflexgrave,
Acircumflexhookabove,
Acircumflextilde,
Adblgrave,
Adieresis,
Adieresismacron,
Adotaccent,
Adotbelow,
Adotmacron,
Agrave,
Ahookabove,
Ainvertedbreve,
"Alpha-latin",
Amacron,
Aogonek,
Aring,
Aringacute,
Aringbelow,
Astroke,
Atilde,
Aturned,
AE,
AEacute,
AEmacron,
B,
Bdotaccent,
Bdotbelow,
"Beta-latin",
Bhook,
Bmacronbelow,
Btopbar,
C,
Cacute,
Ccaron,
Ccedilla,
Ccedillaacute,
Ccircumflex,
Cdotaccent,
Chook,
Cstroke,
D,
DZ,
DZcaron,
Dcaron,
Dcedilla,
Dcircumflexbelow,
Dcroat,
Ddotaccent,
Ddotbelow,
Dhook,
Dmacronbelow,
Dshortstrokeoverlay,
Dtail,
Dz,
Dzcaron,
Eth,
E,
Eacute,
Ebreve,
Ecaron,
Ecedilla,
Ecedillabreve,
Ecircumflex,
Ecircumflexacute,
Ecircumflexbelow,
Ecircumflexdotbelow,
Ecircumflexgrave,
Ecircumflexhookabove,
Ecircumflextilde,
Edblgrave,
Edieresis,
Edotaccent,
Edotbelow,
Egrave,
Ehookabove,
Einvertedbreve,
Emacron,
Emacronacute,
Emacrongrave,
Eogonek,
Eopen,
Ereversed,
Esh,
Estroke,
Etilde,
Etildebelow,
Schwa,
Ezh,
Ezhcaron,
Ezhreversed,
F,
Fdotaccent,
Fhook,
G,
Gacute,
Gbreve,
Gcaron,
Gcircumflex,
Gcommaaccent,
Gdotaccent,
Ghook,
Glottalstopsmall,
Gmacron,
Gstroke,
H,
Hbar,
Hbrevebelow,
Hcaron,
Hcedilla,
Hcircumflex,
Hdieresis,
Hdotaccent,
Hdotbelow,
Hhook,
Hturned,
I,
IJ,
Iacute,
Ibreve,
Icaron,
Icircumflex,
Idblgrave,
Idieresis,
Idieresisacute,
Idotaccent,
Idotbelow,
Igrave,
Ihookabove,
Iinvertedbreve,
Imacron,
Iogonek,
"Iota-latin",
Istroke,
Itilde,
Itildebelow,
J,
Jacute,
Jcircumflex,
Jcrossedtail,
Jstroke,
K,
Kacute,
Kcaron,
Kcommaaccent,
Kdotbelow,
Khook,
Kmacronbelow,
L,
LJ,
Lacute,
Lbar,
Lcaron,
Lcircumflexbelow,
Lcommaaccent,
Ldot,
Ldotbelow,
Ldotbelowmacron,
Lj,
Lmacronbelow,
Lmiddletilde,
Lslash,
M,
Macute,
Mdotaccent,
Mdotbelow,
Mturned,
N,
NJ,
Nacute,
Ncaron,
Ncircumflexbelow,
Ncommaaccent,
Ndotaccent,
Ndotbelow,
Ngrave,
Nhookleft,
Nj,
Nmacronbelow,
Ntilde,
Eng,
O,
Oacute,
Obarred,
Obreve,
Ocaron,
Ocircumflex,
Ocircumflexacute,
Ocircumflexdotbelow,
Ocircumflexgrave,
Ocircumflexhookabove,
Ocircumflextilde,
Odblgrave,
Odieresis,
Odieresismacron,
Odotaccent,
Odotaccentmacron,
Odotbelow,
Ograve,
Ohookabove,
Ohorn,
Ohornacute,
Ohorndotbelow,
Ohorngrave,
Ohornhookabove,
Ohorntilde,
Ohungarumlaut,
Oinvertedbreve,
Omacron,
Omacronacute,
Omacrongrave,
"Omega-latin",
Oogonek,
Oogonekmacron,
Oopen,
Oslash,
Oslashacute,
Otilde,
Otildeacute,
Otildedieresis,
Otildemacron,
OE,
P,
Pacute,
Pdotaccent,
Phook,
Thorn,
Pstroke,
Q,
R,
Racute,
Ramshorn,
Rcaron,
Rcommaaccent,
Rdblgrave,
Rdotaccent,
Rdotbelow,
Rdotbelowmacron,
Rinvertedbreve,
Rmacronbelow,
Rstroke,
Rtail,
S,
Sacute,
Sacutedotaccent,
Scaron,
Scarondotaccent,
Scedilla,
Scircumflex,
Scommaaccent,
Sdotaccent,
Sdotbelow,
Sdotbelowdotaccent,
Germandbls,
T,
Tbar,
Tcaron,
Tcedilla,
Tcircumflexbelow,
Tcommaaccent,
Tdiagonalstroke,
Tdotaccent,
Tdotbelow,
Thook,
Tmacronbelow,
Tretroflexhook,
U,
Uacute,
Ubar,
Ubreve,
Ucaron,
Ucircumflex,
Ucircumflexbelow,
Udblgrave,
Udieresis,
Udieresisacute,
Udieresisbelow,
Udieresiscaron,
Udieresisgrave,
Udieresismacron,
Udotbelow,
Ugrave,
Uhookabove,
Uhorn,
Uhornacute,
Uhorndotbelow,
Uhorngrave,
Uhornhookabove,
Uhorntilde,
Uhungarumlaut,
Uinvertedbreve,
Umacron,
Umacrondieresis,
Uogonek,
"Upsilon-latin",
Uring,
Utilde,
Utildeacute,
Utildebelow,
V,
"Gamma-latin",
Vdotbelow,
Vhook,
Vtilde,
Vturned,
W,
Wacute,
Wcircumflex,
Wdieresis,
Wdotaccent,
Wdotbelow,
Wgrave,
Whook,
X,
Xdieresis,
Xdotaccent,
Y,
Yacute,
Ycircumflex,
Ydieresis,
Ydotaccent,
Ydotbelow,
Ygrave,
Yhook,
Yhookabove,
Ymacron,
Ytilde,
Z,
Zacute,
Zcaron,
Zcircumflex,
Zdotaccent,
Zdotbelow,
Zmacronbelow,
Saltillo,
uniA7AE,
Esh.localGAD,
Ezh.localGAD,
Lcommaaccent.loclMAH,
Ncommaaccent.loclMAH,
Eng.loclNSM,
Lslash_part,
a,
aacute,
abreve,
abreveacute,
abrevedotbelow,
abrevegrave,
abrevehookabove,
abrevetilde,
acaron,
acircumflex,
acircumflexacute,
acircumflexdotbelow,
acircumflexgrave,
acircumflexhookabove,
acircumflextilde,
adblgrave,
adieresis,
adieresismacron,
adotaccent,
adotbelow,
adotmacron,
agrave,
ahookabove,
ainvertedbreve,
"alpha-latin",
amacron,
aogonek,
aring,
aringacute,
aringbelow,
astroke,
atilde,
aturned,
ae,
aeacute,
aemacron,
b,
bdotaccent,
bdotbelow,
"beta-latin",
bhook,
bilabialclick,
bmacronbelow,
btopbar,
c,
cacute,
ccaron,
ccedilla,
ccedillaacute,
ccircumflex,
cdotaccent,
"chi-latin",
chook,
cstroke,
d,
dcaron,
dcedilla,
dcircumflexbelow,
dcroat,
ddotaccent,
ddotbelow,
dhook,
dmacronbelow,
dshortstrokeoverlay,
dz,
dzcaron,
eth,
e,
eacute,
ebreve,
ecaron,
ecedilla,
ecedillabreve,
ecircumflex,
ecircumflexacute,
ecircumflexbelow,
ecircumflexdotbelow,
ecircumflexgrave,
ecircumflexhookabove,
ecircumflextilde,
edblgrave,
edieresis,
edotaccent,
edotbelow,
egrave,
ehookabove,
einvertedbreve,
emacron,
emacronacute,
emacrongrave,
eogonek,
eopen,
estroke,
etilde,
etildebelow,
eturned,
schwa,
ezh,
ezhcaron,
ezhreversed,
f,
fdotaccent,
g,
gacute,
"gamma-latin",
gbreve,
gcaron,
gcircumflex,
gcommaaccent,
gdotaccent,
ghook,
glottalstop,
glottalstopreversed,
glottalstopsmall,
gmacron,
gstroke,
h,
hbar,
hbrevebelow,
hcaron,
hcedilla,
hcircumflex,
hdieresis,
hdotaccent,
hdotbelow,
hhook,
hmacronbelow,
hturned,
i,
idotless,
iacute,
ibreve,
icaron,
icircumflex,
idblgrave,
idieresis,
idieresisacute,
idotaccent,
idotbelow,
igrave,
ihookabove,
iinvertedbreve,
imacron,
iogonek,
"iota-latin",
istroke,
itilde,
itildebelow,
ij,
j,
jdotless,
jacute,
jcaron,
jcircumflex,
jcrossedtail,
jstroke,
k,
kacute,
kcaron,
kcommaaccent,
kdotbelow,
kgreenlandic,
khook,
kmacronbelow,
l,
lacute,
"lambdastroke-latin",
lbar,
lbelt,
lcaron,
lcircumflexbelow,
lcommaaccent,
ldot,
ldotbelow,
lj,
lmacronbelow,
lmiddletilde,
lslash,
m,
macute,
mdotaccent,
mdotbelow,
mturned,
n,
nacute,
ncaron,
ncircumflexbelow,
ncommaaccent,
ndotaccent,
ndotbelow,
ngrave,
nhookleft,
nj,
nmacronbelow,
ntilde,
eng,
o,
oacute,
obarred,
obreve,
ocaron,
ocircumflex,
ocircumflexacute,
ocircumflexdotbelow,
ocircumflexgrave,
ocircumflexhookabove,
ocircumflextilde,
odblgrave,
odieresis,
odieresismacron,
odotaccent,
odotaccentmacron,
odotbelow,
ograve,
ohookabove,
ohorn,
ohornacute,
ohorndotbelow,
ohorngrave,
ohornhookabove,
ohorntilde,
ohungarumlaut,
oinvertedbreve,
omacron,
omacronacute,
omacrongrave,
"omega-latin",
oogonek,
oogonekmacron,
oopen,
oslash,
oslashacute,
otilde,
otildeacute,
otildedieresis,
otildemacron,
oe,
p,
pacute,
pdotaccent,
phook,
thorn,
pstroke,
q,
r,
racute,
ramshorn,
rcaron,
rcommaaccent,
rdblgrave,
rdotaccent,
rdotbelow,
rdotbelowmacron,
rinvertedbreve,
rmacronbelow,
rstroke,
rtail,
s,
sacute,
sacutedotaccent,
scaron,
scarondotaccent,
scedilla,
scircumflex,
scommaaccent,
sdotaccent,
sdotbelow,
sdotbelowdotaccent,
germandbls,
longs,
t,
tbar,
tcaron,
tcedilla,
tcircumflexbelow,
tcommaaccent,
tdiagonalstroke,
tdieresis,
tdotaccent,
tdotbelow,
thook,
tmacronbelow,
tretroflexhook,
u,
uacute,
ubar,
ubreve,
ucaron,
ucircumflex,
ucircumflexbelow,
udblgrave,
udieresis,
udieresisacute,
udieresisbelow,
udieresiscaron,
udieresisgrave,
udieresismacron,
udotbelow,
ugrave,
uhookabove,
uhorn,
uhornacute,
uhorndotbelow,
uhorngrave,
uhornhookabove,
uhorntilde,
uhungarumlaut,
uinvertedbreve,
umacron,
umacrondieresis,
uogonek,
"upsilon-latin",
uring,
utilde,
utildeacute,
utildebelow,
v,
vdotbelow,
vhook,
vtilde,
vturned,
w,
wacute,
wcircumflex,
wdieresis,
wdotaccent,
wdotbelow,
wgrave,
whook,
x,
xdieresis,
xdotaccent,
y,
yacute,
ycircumflex,
ydieresis,
ydotaccent,
ydotbelow,
ygrave,
yhook,
yhookabove,
ymacron,
ytilde,
z,
zacute,
zcaron,
zcircumflex,
zdotaccent,
zdotbelow,
zmacronbelow,
saltillo,
idotbelow.dotless,
iogonek.dotless,
istroke.dotless,
itildebelow.dotless,
lcommaaccent.loclMAH,
ncommaaccent.loclMAH,
f_f,
f_f_i,
f_f_l,
fi,
fl,
a.sc,
aacute.sc,
abreve.sc,
abreveacute.sc,
abrevedotbelow.sc,
abrevegrave.sc,
abrevehookabove.sc,
abrevetilde.sc,
acaron.sc,
acircumflex.sc,
acircumflexacute.sc,
acircumflexdotbelow.sc,
acircumflexgrave.sc,
acircumflexhookabove.sc,
acircumflextilde.sc,
adblgrave.sc,
adieresis.sc,
adieresismacron.sc,
adotaccent.sc,
adotbelow.sc,
adotmacron.sc,
agrave.sc,
ahookabove.sc,
ainvertedbreve.sc,
amacron.sc,
aogonek.sc,
aring.sc,
aringacute.sc,
aringbelow.sc,
astroke.sc,
atilde.sc,
ae.sc,
aeacute.sc,
aemacron.sc,
b.sc,
bdotaccent.sc,
bdotbelow.sc,
bhook.sc,
bilabialclick.sc,
bmacronbelow.sc,
c.sc,
cacute.sc,
ccaron.sc,
ccedilla.sc,
ccedillaacute.sc,
ccircumflex.sc,
cdotaccent.sc,
cstroke.sc,
d.sc,
dcaron.sc,
dcedilla.sc,
dcircumflexbelow.sc,
dcroat.sc,
ddotaccent.sc,
ddotbelow.sc,
dhook.sc,
dmacronbelow.sc,
dz.sc,
dzcaron.sc,
eth.sc,
e.sc,
eacute.sc,
ebreve.sc,
ecaron.sc,
ecedilla.sc,
ecedillabreve.sc,
ecircumflex.sc,
ecircumflexacute.sc,
ecircumflexbelow.sc,
ecircumflexdotbelow.sc,
ecircumflexgrave.sc,
ecircumflexhookabove.sc,
ecircumflextilde.sc,
edblgrave.sc,
edieresis.sc,
edotaccent.sc,
edotbelow.sc,
egrave.sc,
ehookabove.sc,
einvertedbreve.sc,
emacron.sc,
emacronacute.sc,
emacrongrave.sc,
eogonek.sc,
eopen.sc,
estroke.sc,
etilde.sc,
etildebelow.sc,
eturned.sc,
schwa.sc,
ezh.sc,
ezhcaron.sc,
f.sc,
fdotaccent.sc,
g.sc,
gacute.sc,
gbreve.sc,
gcaron.sc,
gcircumflex.sc,
gcommaaccent.sc,
gdotaccent.sc,
glottalstop.sc,
glottalstopreversed.sc,
glottalstopsmall.sc,
gmacron.sc,
gstroke.sc,
h.sc,
hbar.sc,
hbrevebelow.sc,
hcaron.sc,
hcedilla.sc,
hcircumflex.sc,
hdieresis.sc,
hdotaccent.sc,
hdotbelow.sc,
hmacronbelow.sc,
hturned.sc,
i.sc,
idotless.sc,
iacute.sc,
ibreve.sc,
icaron.sc,
icircumflex.sc,
idblgrave.sc,
idieresis.sc,
idieresisacute.sc,
idotaccent.sc,
idotbelow.sc,
igrave.sc,
ihookabove.sc,
iinvertedbreve.sc,
imacron.sc,
iogonek.sc,
istroke.sc,
itilde.sc,
itildebelow.sc,
ij.sc,
j.sc,
jdotless.sc,
jacute.sc,
jcaron.sc,
jcircumflex.sc,
k.sc,
kacute.sc,
kcaron.sc,
kcommaaccent.sc,
kdotbelow.sc,
kgreenlandic.sc,
khook.sc,
kmacronbelow.sc,
l.sc,
lacute.sc,
lbar.sc,
lcaron.sc,
lcircumflexbelow.sc,
lcommaaccent.sc,
ldot.sc,
ldotbelow.sc,
lj.sc,
lmacronbelow.sc,
lslash.sc,
m.sc,
macute.sc,
mdotaccent.sc,
mdotbelow.sc,
mturned.sc,
n.sc,
nacute.sc,
ncaron.sc,
ncircumflexbelow.sc,
ncommaaccent.sc,
ndotaccent.sc,
ndotbelow.sc,
ngrave.sc,
nhookleft.sc,
nj.sc,
nmacronbelow.sc,
ntilde.sc,
eng.sc,
o.sc,
oacute.sc,
obarred.sc,
obreve.sc,
ocaron.sc,
ocircumflex.sc,
ocircumflexacute.sc,
ocircumflexdotbelow.sc,
ocircumflexgrave.sc,
ocircumflexhookabove.sc,
ocircumflextilde.sc,
odblgrave.sc,
odieresis.sc,
odieresismacron.sc,
odotaccent.sc,
odotaccentmacron.sc,
odotbelow.sc,
ograve.sc,
ohookabove.sc,
ohorn.sc,
ohornacute.sc,
ohorndotbelow.sc,
ohorngrave.sc,
ohornhookabove.sc,
ohorntilde.sc,
ohungarumlaut.sc,
oinvertedbreve.sc,
omacron.sc,
omacronacute.sc,
omacrongrave.sc,
oogonek.sc,
oogonekmacron.sc,
oopen.sc,
oslash.sc,
oslashacute.sc,
otilde.sc,
otildeacute.sc,
otildedieresis.sc,
otildemacron.sc,
oe.sc,
p.sc,
pacute.sc,
pdotaccent.sc,
thorn.sc,
q.sc,
r.sc,
racute.sc,
rcaron.sc,
rcommaaccent.sc,
rdblgrave.sc,
rdotaccent.sc,
rdotbelow.sc,
rdotbelowmacron.sc,
rinvertedbreve.sc,
rmacronbelow.sc,
s.sc,
sacute.sc,
sacutedotaccent.sc,
scaron.sc,
scarondotaccent.sc,
scedilla.sc,
scircumflex.sc,
scommaaccent.sc,
sdotaccent.sc,
sdotbelow.sc,
sdotbelowdotaccent.sc,
germandbls.sc,
longs.sc,
t.sc,
tbar.sc,
tcaron.sc,
tcedilla.sc,
tcircumflexbelow.sc,
tcommaaccent.sc,
tdiagonalstroke.sc,
tdieresis.sc,
tdotaccent.sc,
tdotbelow.sc,
tmacronbelow.sc,
u.sc,
uacute.sc,
ubar.sc,
ubreve.sc,
ucaron.sc,
ucircumflex.sc,
ucircumflexbelow.sc,
udblgrave.sc,
udieresis.sc,
udieresisacute.sc,
udieresisbelow.sc,
udieresiscaron.sc,
udieresisgrave.sc,
udieresismacron.sc,
udotbelow.sc,
ugrave.sc,
uhookabove.sc,
uhorn.sc,
uhornacute.sc,
uhorndotbelow.sc,
uhorngrave.sc,
uhornhookabove.sc,
uhorntilde.sc,
uhungarumlaut.sc,
uinvertedbreve.sc,
umacron.sc,
umacrondieresis.sc,
uogonek.sc,
"upsilon-latin.sc",
uring.sc,
utilde.sc,
utildeacute.sc,
utildebelow.sc,
v.sc,
vdotbelow.sc,
vtilde.sc,
vturned.sc,
w.sc,
wacute.sc,
wcircumflex.sc,
wdieresis.sc,
wdotaccent.sc,
wdotbelow.sc,
wgrave.sc,
x.sc,
xdieresis.sc,
xdotaccent.sc,
y.sc,
yacute.sc,
ycircumflex.sc,
ydieresis.sc,
ydotaccent.sc,
ydotbelow.sc,
ygrave.sc,
yhook.sc,
yhookabove.sc,
ymacron.sc,
ytilde.sc,
z.sc,
zacute.sc,
zcaron.sc,
zcircumflex.sc,
zdotaccent.sc,
zdotbelow.sc,
zmacronbelow.sc,
saltillo.sc,
idotbelow.dotless.sc,
iogonek.dotless.sc,
istroke.dotless.sc,
itildebelow.dotless.sc,
lcommaaccent.loclMAH.sc,
ncommaaccent.loclMAH.sc,
f_f.sc,
f_f_i.sc,
f_f_l.sc,
fi.sc,
fl.sc,
ordfeminine.sc,
ordmasculine.sc,
ordfeminine,
ordmasculine,
clickalveolar,
clickdental,
clicklateral,
clickretroflex,
imod,
wmod,
ymod,
Alpha,
Beta,
Gamma,
Delta,
Epsilon,
Zeta,
Eta,
Theta,
Iota,
Kappa,
Lambda,
Mu,
Nu,
Xi,
Omicron,
Pi,
Rho,
Sigma,
Tau,
Upsilon,
Phi,
Chi,
Psi,
Omega,
Alphatonos,
Epsilontonos,
Etatonos,
Iotatonos,
Omicrontonos,
Upsilontonos,
Omegatonos,
Iotadieresis,
Upsilondieresis,
KaiSymbol,
alpha,
beta,
gamma,
delta,
epsilon,
zeta,
eta,
theta,
iota,
kappa,
lambda,
mu,
nu,
xi,
omicron,
pi,
rho,
sigmafinal,
sigma,
tau,
upsilon,
phi,
chi,
psi,
omega,
iotatonos,
iotadieresis,
iotadieresistonos,
upsilontonos,
upsilondieresis,
upsilondieresistonos,
omicrontonos,
omegatonos,
alphatonos,
epsilontonos,
etatonos,
kaiSymbol,
amod,
eOpenmod,
emod,
istrokemod,
oOpenmod,
omod,
thetamod,
ubarmod,
umod,
zmod,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
zero.zero,
zero.lf,
one.lf,
two.lf,
three.lf,
four.lf,
five.lf,
six.lf,
seven.lf,
eight.lf,
nine.lf,
zero.osf,
one.osf,
two.osf,
three.osf,
four.osf,
five.osf,
six.osf,
seven.osf,
eight.osf,
nine.osf,
zero.tf,
one.tf,
two.tf,
three.tf,
four.tf,
five.tf,
six.tf,
seven.tf,
eight.tf,
nine.tf,
zero.tosf,
one.tosf,
two.tosf,
three.tosf,
four.tosf,
five.tosf,
six.tosf,
seven.tosf,
eight.tosf,
nine.tosf,
zero.lf.zero,
zero.osf.zero,
zero.tf.zero,
zero.tosf.zero,
zero.dnom,
one.dnom,
two.dnom,
three.dnom,
four.dnom,
five.dnom,
six.dnom,
seven.dnom,
eight.dnom,
nine.dnom,
zero.numr,
one.numr,
two.numr,
three.numr,
four.numr,
five.numr,
six.numr,
seven.numr,
eight.numr,
nine.numr,
fraction,
onehalf,
onethird,
twothirds,
onequarter,
threequarters,
oneeighth,
threeeighths,
fiveeighths,
seveneighths,
zeroinferior,
oneinferior,
twoinferior,
threeinferior,
fourinferior,
fiveinferior,
sixinferior,
seveninferior,
eightinferior,
nineinferior,
zerosuperior,
onesuperior,
twosuperior,
threesuperior,
foursuperior,
fivesuperior,
sixsuperior,
sevensuperior,
eightsuperior,
ninesuperior,
space,
nbspace,
enspace,
emspace,
enquad,
emquad,
threeperemspace,
fourperemspace,
sixperemspace,
figurespace,
punctuationspace,
thinspace,
hairspace,
zerowidthspace,
zerowidthnonjoiner,
zerowidthjoiner,
narrownbspace,
"mediumspace-math",
.notdef,
.null,
CR,
DEL,
NULL,
anoteleia,
questiongreek,
"leftanglebracket-math",
"rightanglebracket-math",
hyphen,
endash,
emdash,
figuredash,
horizontalbar,
hyphentwo,
nonbreakinghyphen,
underscore,
hyphen.case,
endash.case,
emdash.case,
figuredash.case,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
parenleft.case,
parenright.case,
braceleft.case,
braceright.case,
bracketleft.case,
bracketright.case,
quotesinglbase,
quotedblbase,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
quotereversed,
guillemetleft,
guillemetright,
guilsinglleft,
guilsinglright,
quotedbl,
quotesingle,
guillemetleft.case,
guillemetright.case,
guilsinglleft.case,
guilsinglright.case,
period,
comma,
colon,
semicolon,
ellipsis,
exclam,
exclamdown,
question,
questiondown,
periodcentered,
bullet,
asterisk,
dblverticalbar,
exclamdouble,
numbersign,
slash,
backslash,
periodcentered.case,
bullet.case,
slash.case,
backslash.case,
periodcentered.loclCAT,
periodcentered.loclCAT.case,
florin,
"numeral-greek",
"lowernumeral-greek",
baht,
colonmod,
doubleapostrophemod,
minusmod,
shortequalmod,
cedi,
cent,
colonsign,
currency,
dollar,
dong,
euro,
franc,
guarani,
hryvnia,
kip,
lari,
lira,
liraTurkish,
manat,
naira,
peseta,
peso,
ruble,
rupee,
rupeeIndian,
sheqel,
sterling,
tenge,
tugrik,
won,
yen,
YturnedSansSerif,
bulletoperator,
commercialMinusSign,
divisionslash,
plus,
minus,
multiply,
divide,
equal,
notequal,
greater,
less,
greaterequal,
lessequal,
plusminus,
approxequal,
asciitilde,
logicalnot,
asciicircum,
infinity,
emptyset,
integral,
Ohm,
increment,
product,
summation,
radical,
micro,
partialdiff,
percent,
perthousand,
upArrow,
northEastArrow,
rightArrow,
southEastArrow,
downArrow,
southWestArrow,
leftArrow,
northWestArrow,
leftRightArrow,
upDownArrow,
dottedCircle,
lozenge,
at,
ampersand,
paragraph,
section,
copyright,
registered,
published,
trademark,
careof,
degree,
minute,
second,
bar,
brokenbar,
dagger,
literSign,
daggerdbl,
estimated,
numero,
cadauna,
servicemark,
at.case,
A.circled,
a.circled,
tonos,
tonos.case,
dieresistonos,
dieresiscomb,
dotaccentcomb,
gravecomb,
gravecomb_macroncomb,
acutecomb,
acutecomb_macroncomb,
hungarumlautcomb,
caroncomb.alt,
circumflexcomb,
caroncomb,
brevecomb,
ringcomb,
tildecomb,
macroncomb,
macroncomb_gravecomb,
macroncomb_acutecomb,
hookabovecomb,
verticallineabovecomb,
dblgravecomb,
breveinvertedcomb,
commaturnedabovecomb,
commaabovecomb,
commaaboverightcomb,
horncomb,
dotbelowcomb,
dieresisbelowcomb,
ringbelowcomb,
commaaccentcomb,
commaaccentcomb.loclMAH,
cedillacomb,
ogonekcomb,
verticallinebelowcomb,
circumflexbelowcomb,
brevebelowcomb,
breveinvertedbelowcomb,
tildebelowcomb,
macronbelowcomb,
lowlinecomb,
strokeshortcomb,
doublemacronbelowcomb,
acutemacroncomb,
brevecomb_acutecomb,
brevecomb_gravecomb,
brevecomb_hookabovecomb,
brevecomb_tildecomb,
circumflexcomb_acutecomb,
circumflexcomb_gravecomb,
circumflexcomb_hookabovecomb,
circumflexcomb_tildecomb,
gravemacroncomb,
macronacutecomb,
macrongravecomb,
dieresiscomb.case,
dotaccentcomb.case,
gravecomb.case,
acutecomb.case,
hungarumlautcomb.case,
circumflexcomb.case,
circumflexcomb_gravecomb.case,
circumflexcomb_acutecomb.case,
circumflexcomb_tildecomb.case,
circumflexcomb_hookabovecomb.case,
caroncomb.case,
brevecomb.case,
brevecomb_gravecomb.case,
brevecomb_acutecomb.case,
brevecomb_tildecomb.case,
brevecomb_hookabovecomb.case,
ringcomb.case,
tildecomb.case,
macroncomb.case,
hookabovecomb.case,
dblgravecomb.case,
breveinvertedcomb.case,
commaturnedabovecomb.case,
horncomb.case,
dotbelowcomb.case,
dieresisbelowcomb.case,
commaaccentcomb.case,
cedillacomb.case,
ogonekcomb.case,
brevebelowcomb.case,
macronbelowcomb.case,
dieresis,
dotaccent,
grave,
acute,
hungarumlaut,
circumflex,
firsttonechinese,
secondtonechinese,
caron,
fourthtonechinese,
breve,
ring,
tilde,
macron,
cedilla,
ogonek,
apostrophemod,
commareversedmod,
commaturnedmod,
doubleprimemod,
glottalstopmod,
primemod,
ringhalfleft,
ringhalfright,
verticallinelowmod,
verticallinemod,
icapitalsmall,
OSlash_part.,
oSlash_part.,
zeroSlash_part.
)