(
A,
Aacute,
Abreve,
Abreveacute,
Abrevedotbelow,
Abrevegrave,
Abrevehookabove,
Abrevetilde,
Acaron,
Acircumflex,
Acircumflexacute,
Acircumflexdotbelow,
Acircumflexgrave,
Acircumflexhookabove,
Acircumflextilde,
Adblgrave,
Adieresis,
Adieresismacron,
Adotaccent,
Adotbelow,
Adotmacron,
Agrave,
Ahookabove,
Ainvertedbreve,
Amacron,
Aogonek,
Aring,
Aringacute,
Aringbelow,
Astroke,
Atilde,
AE,
AEacute,
AEmacron,
B,
Bdotaccent,
Bdotbelow,
Bhook,
Bmacronbelow,
C,
Cacute,
Ccaron,
Ccedilla,
Ccedillaacute,
Ccircumflex,
Cdotaccent,
Cstroke,
D,
DZ,
DZcaron,
Dcaron,
Dcedilla,
Dcircumflexbelow,
Dcroat,
Ddotaccent,
Ddotbelow,
Dhook,
Dmacronbelow,
Dtail,
Dz,
Dzcaron,
Eth,
E,
Eacute,
Ebreve,
Ecaron,
Ecedilla,
Ecedillabreve,
Ecircumflex,
Ecircumflexacute,
Ecircumflexbelow,
Ecircumflexdotbelow,
Ecircumflexgrave,
Ecircumflexhookabove,
Ecircumflextilde,
Edblgrave,
Edieresis,
Edotaccent,
Edotbelow,
Egrave,
Ehookabove,
Einvertedbreve,
Emacron,
Emacronacute,
Emacrongrave,
Eogonek,
Eopen,
Ereversed,
Esh,
Estroke,
Etilde,
Etildebelow,
Schwa,
Ezh,
Ezhcaron,
F,
Fdotaccent,
G,
Gacute,
Gbreve,
Gcaron,
Gcircumflex,
Gcommaaccent,
Gdotaccent,
Glottalstopsmall,
Gmacron,
Gstroke,
H,
Hbar,
Hbrevebelow,
Hcaron,
Hcedilla,
Hcircumflex,
Hdieresis,
Hdotaccent,
Hdotbelow,
I,
IJ,
Iacute,
Ibreve,
Icaron,
Icircumflex,
Idblgrave,
Idieresis,
Idieresisacute,
Idotaccent,
Idotbelow,
Igrave,
Ihookabove,
Iinvertedbreve,
Imacron,
Iogonek,
Istroke,
Itilde,
Itildebelow,
J,
Jacute,
Jcircumflex,
K,
Kacute,
Kcaron,
Kcommaaccent,
Kdotbelow,
Khook,
Kmacronbelow,
L,
LJ,
Lacute,
Lbar,
Lcaron,
Lcircumflexbelow,
Lcommaaccent,
Ldot,
Ldotbelow,
Ldotbelowmacron,
Lj,
Lmacronbelow,
Lslash,
M,
Macute,
Mdotaccent,
Mdotbelow,
Mturned,
N,
NJ,
Nacute,
Ncaron,
Ncircumflexbelow,
Ncommaaccent,
Ndotaccent,
Ndotbelow,
Ngrave,
Nhookleft,
Nj,
Nmacronbelow,
Ntilde,
Eng,
O,
Oacute,
Obreve,
Ocaron,
Ocircumflex,
Ocircumflexacute,
Ocircumflexdotbelow,
Ocircumflexgrave,
Ocircumflexhookabove,
Ocircumflextilde,
Odblgrave,
Odieresis,
Odieresismacron,
Odotaccent,
Odotaccentmacron,
Odotbelow,
Ograve,
Ohookabove,
Ohorn,
Ohornacute,
Ohorndotbelow,
Ohorngrave,
Ohornhookabove,
Ohorntilde,
Ohungarumlaut,
Oinvertedbreve,
Omacron,
Omacronacute,
Omacrongrave,
Oogonek,
Oogonekmacron,
Oopen,
Oslash,
Oslashacute,
Otilde,
Otildeacute,
Otildedieresis,
Otildemacron,
OE,
P,
Pacute,
Pdotaccent,
Thorn,
Q,
R,
Racute,
Rcaron,
Rcommaaccent,
Rdblgrave,
Rdotaccent,
Rdotbelow,
Rdotbelowmacron,
Rinvertedbreve,
Rmacronbelow,
S,
Sacute,
Sacutedotaccent,
Scaron,
Scarondotaccent,
Scedilla,
Scircumflex,
Scommaaccent,
Sdotaccent,
Sdotbelow,
Sdotbelowdotaccent,
Germandbls,
T,
Tbar,
Tcaron,
Tcedilla,
Tcircumflexbelow,
Tcommaaccent,
Tdiagonalstroke,
Tdotaccent,
Tdotbelow,
Tmacronbelow,
U,
Uacute,
Ubar,
Ubreve,
Ucaron,
Ucircumflex,
Ucircumflexbelow,
Udblgrave,
Udieresis,
Udieresisacute,
Udieresisbelow,
Udieresiscaron,
Udieresisgrave,
Udieresismacron,
Udotbelow,
Ugrave,
Uhookabove,
Uhorn,
Uhornacute,
Uhorndotbelow,
Uhorngrave,
Uhornhookabove,
Uhorntilde,
Uhungarumlaut,
Uinvertedbreve,
Umacron,
Umacrondieresis,
Uogonek,
"Upsilon-latin",
Uring,
Utilde,
Utildeacute,
Utildebelow,
V,
Vdotbelow,
Vtilde,
Vturned,
W,
Wacute,
Wcircumflex,
Wdieresis,
Wdotaccent,
Wdotbelow,
Wgrave,
X,
Xdieresis,
Xdotaccent,
Y,
Yacute,
Ycircumflex,
Ydieresis,
Ydotaccent,
Ydotbelow,
Ygrave,
Yhook,
Yhookabove,
Ymacron,
Ytilde,
Z,
Zacute,
Zcaron,
Zcircumflex,
Zdotaccent,
Zdotbelow,
Zmacronbelow,
Saltillo,
Esh.localGAD,
Ezh.localGAD,
Lcommaaccent.loclMAH,
Ncommaaccent.loclMAH,
Eng.loclNSM,
Lslash_part,
a,
aacute,
abreve,
abreveacute,
abrevedotbelow,
abrevegrave,
abrevehookabove,
abrevetilde,
acaron,
acircumflex,
acircumflexacute,
acircumflexdotbelow,
acircumflexgrave,
acircumflexhookabove,
acircumflextilde,
adblgrave,
adieresis,
adieresismacron,
adotaccent,
adotbelow,
adotmacron,
agrave,
ahookabove,
ainvertedbreve,
amacron,
aogonek,
aring,
aringacute,
aringbelow,
astroke,
atilde,
ae,
aeacute,
aemacron,
b,
bdotaccent,
bdotbelow,
bhook,
bilabialclick,
bmacronbelow,
c,
cacute,
ccaron,
ccedilla,
ccedillaacute,
ccircumflex,
cdotaccent,
cstroke,
d,
dcaron,
dcedilla,
dcircumflexbelow,
dcroat,
ddotaccent,
ddotbelow,
dhook,
dmacronbelow,
dz,
dzcaron,
eth,
e,
eacute,
ebreve,
ecaron,
ecedilla,
ecedillabreve,
ecircumflex,
ecircumflexacute,
ecircumflexbelow,
ecircumflexdotbelow,
ecircumflexgrave,
ecircumflexhookabove,
ecircumflextilde,
edblgrave,
edieresis,
edotaccent,
edotbelow,
egrave,
ehookabove,
einvertedbreve,
emacron,
emacronacute,
emacrongrave,
eogonek,
eopen,
estroke,
etilde,
etildebelow,
eturned,
schwa,
ezh,
ezhcaron,
f,
fdotaccent,
g,
gacute,
gbreve,
gcaron,
gcircumflex,
gcommaaccent,
gdotaccent,
glottalstop,
glottalstopreversed,
glottalstopsmall,
gmacron,
gstroke,
h,
hbar,
hbrevebelow,
hcaron,
hcedilla,
hcircumflex,
hdieresis,
hdotaccent,
hdotbelow,
hmacronbelow,
hturned,
i,
idotless,
iacute,
ibreve,
icaron,
icircumflex,
idblgrave,
idieresis,
idieresisacute,
idotaccent,
idotbelow,
igrave,
ihookabove,
iinvertedbreve,
imacron,
iogonek,
istroke,
itilde,
itildebelow,
ij,
j,
jdotless,
jacute,
jcaron,
jcircumflex,
k,
kacute,
kcaron,
kcommaaccent,
kdotbelow,
kgreenlandic,
khook,
kmacronbelow,
l,
lacute,
lbar,
lcaron,
lcircumflexbelow,
lcommaaccent,
ldot,
ldotbelow,
lj,
lmacronbelow,
lslash,
m,
macute,
mdotaccent,
mdotbelow,
mturned,
n,
nacute,
ncaron,
ncircumflexbelow,
ncommaaccent,
ndotaccent,
ndotbelow,
ngrave,
nhookleft,
nj,
nmacronbelow,
ntilde,
eng,
o,
oacute,
obarred,
obreve,
ocaron,
ocircumflex,
ocircumflexacute,
ocircumflexdotbelow,
ocircumflexgrave,
ocircumflexhookabove,
ocircumflextilde,
odblgrave,
odieresis,
odieresismacron,
odotaccent,
odotaccentmacron,
odotbelow,
ograve,
ohookabove,
ohorn,
ohornacute,
ohorndotbelow,
ohorngrave,
ohornhookabove,
ohorntilde,
ohungarumlaut,
oinvertedbreve,
omacron,
omacronacute,
omacrongrave,
oogonek,
oogonekmacron,
oopen,
oslash,
oslashacute,
otilde,
otildeacute,
otildedieresis,
otildemacron,
oe,
p,
pacute,
pdotaccent,
thorn,
q,
r,
racute,
rcaron,
rcommaaccent,
rdblgrave,
rdotaccent,
rdotbelow,
rdotbelowmacron,
rinvertedbreve,
rmacronbelow,
s,
sacute,
sacutedotaccent,
scaron,
scarondotaccent,
scedilla,
scircumflex,
scommaaccent,
sdotaccent,
sdotbelow,
sdotbelowdotaccent,
germandbls,
longs,
t,
tbar,
tcaron,
tcedilla,
tcircumflexbelow,
tcommaaccent,
tdiagonalstroke,
tdieresis,
tdotaccent,
tdotbelow,
tmacronbelow,
u,
uacute,
ubar,
ubreve,
ucaron,
ucircumflex,
ucircumflexbelow,
udblgrave,
udieresis,
udieresisacute,
udieresisbelow,
udieresiscaron,
udieresisgrave,
udieresismacron,
udotbelow,
ugrave,
uhookabove,
uhorn,
uhornacute,
uhorndotbelow,
uhorngrave,
uhornhookabove,
uhorntilde,
uhungarumlaut,
uinvertedbreve,
umacron,
umacrondieresis,
uogonek,
"upsilon-latin",
uring,
utilde,
utildeacute,
utildebelow,
v,
vdotbelow,
vtilde,
vturned,
w,
wacute,
wcircumflex,
wdieresis,
wdotaccent,
wdotbelow,
wgrave,
x,
xdieresis,
xdotaccent,
y,
yacute,
ycircumflex,
ydieresis,
ydotaccent,
ydotbelow,
ygrave,
yhook,
yhookabove,
ymacron,
ytilde,
z,
zacute,
zcaron,
zcircumflex,
zdotaccent,
zdotbelow,
zmacronbelow,
saltillo,
idotbelow.dotless,
iogonek.dotless,
istroke.dotless,
itildebelow.dotless,
lcommaaccent.loclMAH,
ncommaaccent.loclMAH,
f_f,
f_f_i,
f_f_l,
fi,
fl,
ordfeminine,
ordmasculine,
Alpha,
Beta,
Delta,
Epsilon,
Zeta,
Eta,
Iota,
Kappa,
Mu,
Nu,
Omicron,
Rho,
Sigma,
Tau,
Upsilon,
Chi,
Omega,
mu,
pi,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
zero.zero,
zero.lf,
one.lf,
two.lf,
three.lf,
four.lf,
five.lf,
six.lf,
seven.lf,
eight.lf,
nine.lf,
zero.osf,
one.osf,
two.osf,
three.osf,
four.osf,
five.osf,
six.osf,
seven.osf,
eight.osf,
nine.osf,
zero.tf,
one.tf,
two.tf,
three.tf,
four.tf,
five.tf,
six.tf,
seven.tf,
eight.tf,
nine.tf,
zero.tosf,
one.tosf,
two.tosf,
three.tosf,
four.tosf,
five.tosf,
six.tosf,
seven.tosf,
eight.tosf,
nine.tosf,
zero.lf.zero,
zero.osf.zero,
zero.tf.zero,
zero.tosf.zero,
zero.dnom,
one.dnom,
two.dnom,
three.dnom,
four.dnom,
five.dnom,
six.dnom,
seven.dnom,
eight.dnom,
nine.dnom,
zero.numr,
one.numr,
two.numr,
three.numr,
four.numr,
five.numr,
six.numr,
seven.numr,
eight.numr,
nine.numr,
fraction,
onehalf,
onethird,
twothirds,
onequarter,
threequarters,
oneeighth,
threeeighths,
fiveeighths,
seveneighths,
zeroinferior,
oneinferior,
twoinferior,
threeinferior,
fourinferior,
fiveinferior,
sixinferior,
seveninferior,
eightinferior,
nineinferior,
zerosuperior,
onesuperior,
twosuperior,
threesuperior,
foursuperior,
fivesuperior,
sixsuperior,
sevensuperior,
eightsuperior,
ninesuperior,
space,
nbspace,
enspace,
emspace,
enquad,
emquad,
threeperemspace,
fourperemspace,
sixperemspace,
figurespace,
punctuationspace,
thinspace,
hairspace,
zerowidthspace,
zerowidthnonjoiner,
zerowidthjoiner,
narrownbspace,
"mediumspace-math",
CR,
DEL,
NULL,
.notdef,
.null,
"leftanglebracket-math",
"rightanglebracket-math",
period,
comma,
colon,
semicolon,
ellipsis,
exclam,
exclamdown,
question,
questiondown,
periodcentered,
bullet,
asterisk,
exclamdouble,
numbersign,
slash,
backslash,
periodcentered.case,
bullet.case,
slash.case,
backslash.case,
periodcentered.loclCAT,
periodcentered.loclCAT.case,
hyphen,
endash,
emdash,
figuredash,
horizontalbar,
hyphentwo,
nonbreakinghyphen,
underscore,
hyphen.case,
endash.case,
emdash.case,
figuredash.case,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
parenleft.case,
parenright.case,
braceleft.case,
braceright.case,
bracketleft.case,
bracketright.case,
quotesinglbase,
quotedblbase,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
quotereversed,
guillemetleft,
guillemetright,
guilsinglleft,
guilsinglright,
quotedbl,
quotesingle,
guillemetleft.case,
guillemetright.case,
guilsinglleft.case,
guilsinglright.case,
florin,
baht,
at,
ampersand,
paragraph,
section,
copyright,
registered,
published,
trademark,
careof,
degree,
minute,
second,
bar,
brokenbar,
dagger,
literSign,
daggerdbl,
estimated,
numero,
cadauna,
servicemark,
at.case,
cedi,
cent,
colonsign,
currency,
dollar,
dong,
euro,
franc,
guarani,
hryvnia,
kip,
lira,
liraTurkish,
manat,
naira,
peseta,
peso,
ruble,
rupeeIndian,
sterling,
tenge,
won,
yen,
bulletoperator,
commercialMinusSign,
divisionslash,
plus,
minus,
multiply,
divide,
equal,
notequal,
greater,
less,
greaterequal,
lessequal,
plusminus,
approxequal,
asciitilde,
logicalnot,
asciicircum,
infinity,
emptyset,
integral,
Ohm,
increment,
product,
summation,
radical,
micro,
partialdiff,
percent,
perthousand,
upArrow,
northEastArrow,
rightArrow,
southEastArrow,
downArrow,
southWestArrow,
leftArrow,
northWestArrow,
leftRightArrow,
upDownArrow,
dottedCircle,
lozenge,
dieresiscomb,
dotaccentcomb,
gravecomb,
gravecomb_macroncomb,
acutecomb,
acutecomb_macroncomb,
hungarumlautcomb,
caroncomb.alt,
circumflexcomb,
caroncomb,
brevecomb,
ringcomb,
tildecomb,
macroncomb,
macroncomb_gravecomb,
macroncomb_acutecomb,
hookabovecomb,
dblgravecomb,
breveinvertedcomb,
commaturnedabovecomb,
commaabovecomb,
commaaboverightcomb,
horncomb,
dotbelowcomb,
dieresisbelowcomb,
ringbelowcomb,
commaaccentcomb,
commaaccentcomb.loclMAH,
cedillacomb,
ogonekcomb,
verticallinebelowcomb,
circumflexbelowcomb,
brevebelowcomb,
breveinvertedbelowcomb,
tildebelowcomb,
macronbelowcomb,
lowlinecomb,
strokeshortcomb,
brevecomb_acutecomb,
brevecomb_gravecomb,
brevecomb_hookabovecomb,
brevecomb_tildecomb,
circumflexcomb_acutecomb,
circumflexcomb_gravecomb,
circumflexcomb_hookabovecomb,
circumflexcomb_tildecomb,
dieresiscomb.case,
dotaccentcomb.case,
gravecomb.case,
acutecomb.case,
hungarumlautcomb.case,
circumflexcomb.case,
circumflexcomb_gravecomb.case,
circumflexcomb_acutecomb.case,
circumflexcomb_tildecomb.case,
circumflexcomb_hookabovecomb.case,
caroncomb.case,
brevecomb.case,
brevecomb_gravecomb.case,
brevecomb_acutecomb.case,
brevecomb_tildecomb.case,
brevecomb_hookabovecomb.case,
ringcomb.case,
tildecomb.case,
macroncomb.case,
hookabovecomb.case,
dblgravecomb.case,
breveinvertedcomb.case,
commaturnedabovecomb.case,
horncomb.case,
dotbelowcomb.case,
dieresisbelowcomb.case,
commaaccentcomb.case,
cedillacomb.case,
ogonekcomb.case,
brevebelowcomb.case,
macronbelowcomb.case,
dieresis,
dotaccent,
grave,
acute,
hungarumlaut,
circumflex,
firsttonechinese,
secondtonechinese,
caron,
fourthtonechinese,
breve,
ring,
tilde,
macron,
cedilla,
ogonek,
apostrophemod,
commareversedmod,
commaturnedmod,
doubleprimemod,
glottalstopmod,
primemod,
ringhalfleft,
ringhalfright,
verticallinelowmod,
verticallinemod,
uniA7AE,
OSlash_part.,
oSlash_part.,
zeroSlash_part.
)