(
A,
Aacute,
Abreve,
Abreveacute,
Abrevedotbelow,
Abrevegrave,
Abrevehookabove,
Abrevetilde,
Acaron,
Acircumflex,
Acircumflexacute,
Acircumflexdotbelow,
Acircumflexgrave,
Acircumflexhookabove,
Acircumflextilde,
Adblgrave,
Adieresis,
Adieresismacron,
Adotaccent,
Adotbelow,
Adotmacron,
Agrave,
Ahookabove,
Ainvertedbreve,
Amacron,
Aogonek,
Aring,
Aringacute,
Aringbelow,
Astroke,
Atilde,
AE,
AEacute,
AEmacron,
B,
Bdotaccent,
Bdotbelow,
Bhook,
Bmacronbelow,
C,
Cacute,
Ccaron,
Ccedilla,
Ccedillaacute,
Ccircumflex,
Cdotaccent,
Cstroke,
D,
DZ,
DZcaron,
Dcaron,
Dcedilla,
Dcircumflexbelow,
Dcroat,
Ddotaccent,
Ddotbelow,
Dhook,
Dmacronbelow,
Dtail,
Dz,
Dzcaron,
Eth,
E,
Eacute,
Ebreve,
Ecaron,
Ecedilla,
Ecedillabreve,
Ecircumflex,
Ecircumflexacute,
Ecircumflexbelow,
Ecircumflexdotbelow,
Ecircumflexgrave,
Ecircumflexhookabove,
Ecircumflextilde,
Edblgrave,
Edieresis,
Edotaccent,
Edotbelow,
Egrave,
Ehookabove,
Einvertedbreve,
Emacron,
Emacronacute,
Emacrongrave,
Eogonek,
Eopen,
Esh,
Estroke,
Etilde,
Etildebelow,
Eturned,
Schwa,
Ezh,
Ezhcaron,
Ezhreversed,
F,
Fdotaccent,
G,
Gacute,
Gbreve,
Gcaron,
Gcircumflex,
Gcommaaccent,
Gdotaccent,
Glottalstopsmall,
Gmacron,
Gstroke,
H,
Hbar,
Hbrevebelow,
Hcaron,
Hcedilla,
Hcircumflex,
Hdieresis,
Hdotaccent,
Hdotbelow,
I,
IJ,
Iacute,
Ibreve,
Icapitalsmall,
Icaron,
Icircumflex,
Idblgrave,
Idieresis,
Idieresisacute,
Idotaccent,
Idotbelow,
Igrave,
Ihookabove,
Iinvertedbreve,
Imacron,
Iogonek,
Istroke,
Itilde,
Itildebelow,
J,
Jacute,
Jcircumflex,
K,
Kacute,
Kcaron,
Kcommaaccent,
Kdotbelow,
Khook,
Kmacronbelow,
L,
LJ,
Lacute,
Lbar,
Lcaron,
Lcircumflexbelow,
Lcommaaccent,
Ldot,
Ldotbelow,
Ldotbelowmacron,
Lj,
Lmacronbelow,
Lslash,
M,
Macute,
Mdotaccent,
Mdotbelow,
Mturned,
N,
NJ,
Nacute,
Ncaron,
Ncircumflexbelow,
Ncommaaccent,
Ndotaccent,
Ndotbelow,
Ngrave,
Nhookleft,
Nj,
Nmacronbelow,
Ntilde,
Eng,
O,
Oacute,
Obreve,
Ocaron,
Ocircumflex,
Ocircumflexacute,
Ocircumflexdotbelow,
Ocircumflexgrave,
Ocircumflexhookabove,
Ocircumflextilde,
Odblgrave,
Odieresis,
Odieresismacron,
Odotaccent,
Odotaccentmacron,
Odotbelow,
Ograve,
Ohookabove,
Ohorn,
Ohornacute,
Ohorndotbelow,
Ohorngrave,
Ohornhookabove,
Ohorntilde,
Ohungarumlaut,
Oinvertedbreve,
Omacron,
Omacronacute,
Omacrongrave,
Oogonek,
Oogonekmacron,
Oopen,
Oslash,
Oslashacute,
Otilde,
Otildeacute,
Otildedieresis,
Otildemacron,
OE,
P,
Pacute,
Pdotaccent,
Thorn,
Q,
R,
Racute,
Rcaron,
Rcommaaccent,
Rdblgrave,
Rdotaccent,
Rdotbelow,
Rdotbelowmacron,
Rinvertedbreve,
Rmacronbelow,
S,
Sacute,
Sacutedotaccent,
Scaron,
Scarondotaccent,
Scedilla,
Scircumflex,
Scommaaccent,
Sdotaccent,
Sdotbelow,
Sdotbelowdotaccent,
Germandbls,
T,
Tbar,
Tcaron,
Tcedilla,
Tcircumflexbelow,
Tcommaaccent,
Tdiagonalstroke,
Tdotaccent,
Tdotbelow,
Tmacronbelow,
U,
Uacute,
Ubar,
Ubreve,
Ucaron,
Ucircumflex,
Ucircumflexbelow,
Udblgrave,
Udieresis,
Udieresisacute,
Udieresisbelow,
Udieresiscaron,
Udieresisgrave,
Udieresismacron,
Udotbelow,
Ugrave,
Uhookabove,
Uhorn,
Uhornacute,
Uhorndotbelow,
Uhorngrave,
Uhornhookabove,
Uhorntilde,
Uhungarumlaut,
Uinvertedbreve,
Umacron,
Umacrondieresis,
Uogonek,
"Upsilon-latin",
Uring,
Utilde,
Utildeacute,
Utildebelow,
V,
Vdotbelow,
Vtilde,
Vturned,
W,
Wacute,
Wcircumflex,
Wdieresis,
Wdotaccent,
Wdotbelow,
Wgrave,
X,
Xdieresis,
Xdotaccent,
Y,
Yacute,
Ycircumflex,
Ydieresis,
Ydotaccent,
Ydotbelow,
Ygrave,
Yhook,
Yhookabove,
Ymacron,
Ytilde,
Z,
Zacute,
Zcaron,
Zcircumflex,
Zdotaccent,
Zdotbelow,
Zmacronbelow,
Saltillo,
Esh.localGAD,
Ezh.localGAD,
Lcommaaccent.loclMAH,
Ncommaaccent.loclMAH,
Eng.loclNSM,
Eng.ss01,
Lslash_part,
a,
aacute,
abreve,
abreveacute,
abrevedotbelow,
abrevegrave,
abrevehookabove,
abrevetilde,
acaron,
acircumflex,
acircumflexacute,
acircumflexdotbelow,
acircumflexgrave,
acircumflexhookabove,
acircumflextilde,
adblgrave,
adieresis,
adieresismacron,
adotaccent,
adotbelow,
adotmacron,
agrave,
ahookabove,
ainvertedbreve,
"alpha-latin",
amacron,
aogonek,
aring,
aringacute,
aringbelow,
astroke,
atilde,
aturned,
ae,
aeacute,
aemacron,
b,
bdotaccent,
bdotbelow,
"beta-latin",
bhook,
bilabialclick,
bmacronbelow,
btopbar,
c,
cacute,
ccaron,
ccedilla,
ccedillaacute,
ccircumflex,
cdotaccent,
cstroke,
d,
dcaron,
dcedilla,
dcircumflexbelow,
dcroat,
ddotaccent,
ddotbelow,
dhook,
dmacronbelow,
dshortstrokeoverlay,
dz,
dzcaron,
eth,
e,
eacute,
ebreve,
ecaron,
ecedilla,
ecedillabreve,
ecircumflex,
ecircumflexacute,
ecircumflexbelow,
ecircumflexdotbelow,
ecircumflexgrave,
ecircumflexhookabove,
ecircumflextilde,
edblgrave,
edieresis,
edotaccent,
edotbelow,
egrave,
ehookabove,
einvertedbreve,
emacron,
emacronacute,
emacrongrave,
eogonek,
eopen,
estroke,
etilde,
etildebelow,
eturned,
schwa,
ezh,
ezhcaron,
ezhreversed,
f,
fdotaccent,
g,
gacute,
gbreve,
gcaron,
gcircumflex,
gcommaaccent,
gdotaccent,
glottalstop,
glottalstopreversed,
glottalstopsmall,
gmacron,
gstroke,
h,
hbar,
hbrevebelow,
hcaron,
hcedilla,
hcircumflex,
hdieresis,
hdotaccent,
hdotbelow,
hmacronbelow,
hturned,
i,
idotless,
iacute,
ibreve,
icaron,
icircumflex,
idblgrave,
idieresis,
idieresisacute,
idotaccent,
idotbelow,
igrave,
ihookabove,
iinvertedbreve,
imacron,
iogonek,
"iota-latin",
istroke,
itilde,
itildebelow,
ij,
j,
jdotless,
jacute,
jcaron,
jcircumflex,
k,
kacute,
kcaron,
kcommaaccent,
kdotbelow,
kgreenlandic,
khook,
kmacronbelow,
l,
lacute,
lbar,
lcaron,
lcircumflexbelow,
lcommaaccent,
ldot,
ldotbelow,
lj,
lmacronbelow,
lslash,
m,
macute,
mdotaccent,
mdotbelow,
mturned,
n,
nacute,
napostrophe,
ncaron,
ncircumflexbelow,
ncommaaccent,
ndotaccent,
ndotbelow,
ngrave,
nhookleft,
nj,
nmacronbelow,
ntilde,
eng,
o,
oacute,
obarred,
obreve,
ocaron,
ocircumflex,
ocircumflexacute,
ocircumflexdotbelow,
ocircumflexgrave,
ocircumflexhookabove,
ocircumflextilde,
odblgrave,
odieresis,
odieresismacron,
odotaccent,
odotaccentmacron,
odotbelow,
ograve,
ohookabove,
ohorn,
ohornacute,
ohorndotbelow,
ohorngrave,
ohornhookabove,
ohorntilde,
ohungarumlaut,
oinvertedbreve,
omacron,
omacronacute,
omacrongrave,
oogonek,
oogonekmacron,
oopen,
oslash,
oslashacute,
otilde,
otildeacute,
otildedieresis,
otildemacron,
oe,
p,
pacute,
pdotaccent,
thorn,
pstroke,
q,
r,
racute,
rcaron,
rcommaaccent,
rdblgrave,
rdotaccent,
rdotbelow,
rdotbelowmacron,
rinvertedbreve,
rmacronbelow,
rstroke,
s,
sacute,
sacutedotaccent,
scaron,
scarondotaccent,
scedilla,
scircumflex,
scommaaccent,
sdotaccent,
sdotbelow,
sdotbelowdotaccent,
germandbls,
longs,
t,
tbar,
tcaron,
tcedilla,
tcircumflexbelow,
tcommaaccent,
tdiagonalstroke,
tdieresis,
tdotaccent,
tdotbelow,
tmacronbelow,
u,
uacute,
ubar,
ubreve,
ucaron,
ucircumflex,
ucircumflexbelow,
udblgrave,
udieresis,
udieresisacute,
udieresisbelow,
udieresiscaron,
udieresisgrave,
udieresismacron,
udotbelow,
ugrave,
uhookabove,
uhorn,
uhornacute,
uhorndotbelow,
uhorngrave,
uhornhookabove,
uhorntilde,
uhungarumlaut,
uinvertedbreve,
umacron,
umacrondieresis,
uogonek,
"upsilon-latin",
uring,
utilde,
utildeacute,
utildebelow,
v,
vdotbelow,
vtilde,
vturned,
w,
wacute,
wcircumflex,
wdieresis,
wdotaccent,
wdotbelow,
wgrave,
x,
xdieresis,
xdotaccent,
y,
yacute,
ycircumflex,
ydieresis,
ydotaccent,
ydotbelow,
ygrave,
yhook,
yhookabove,
ymacron,
ytilde,
z,
zacute,
zcaron,
zcircumflex,
zdotaccent,
zdotbelow,
zmacronbelow,
saltillo,
idotbelow.dotless,
iogonek.dotless,
istroke.dotless,
itildebelow.dotless,
iacute.loclLTH,
lcommaaccent.loclMAH,
ncommaaccent.loclMAH,
f_f,
f_f_i,
f_f_l,
f_j,
fi,
fl,
Idotaccent.c2sc,
Zdotaccent.c2sc,
a.smcp,
aacute.smcp,
abreve.smcp,
abreveacute.smcp,
abrevedotbelow.smcp,
abrevegrave.smcp,
abrevehookabove.smcp,
abrevetilde.smcp,
acaron.smcp,
acircumflex.smcp,
acircumflexacute.smcp,
acircumflexdotbelow.smcp,
acircumflexgrave.smcp,
acircumflexhookabove.smcp,
acircumflextilde.smcp,
adblgrave.smcp,
adieresis.smcp,
adieresismacron.smcp,
adotaccent.smcp,
adotbelow.smcp,
adotmacron.smcp,
agrave.smcp,
ahookabove.smcp,
ainvertedbreve.smcp,
amacron.smcp,
aogonek.smcp,
aring.smcp,
aringacute.smcp,
aringbelow.smcp,
astroke.smcp,
atilde.smcp,
ae.smcp,
aeacute.smcp,
aemacron.smcp,
b.smcp,
bdotaccent.smcp,
bdotbelow.smcp,
bhook.smcp,
bilabialclick.smcp,
bmacronbelow.smcp,
c.smcp,
cacute.smcp,
ccaron.smcp,
ccedilla.smcp,
ccedillaacute.smcp,
ccircumflex.smcp,
cdotaccent.smcp,
cstroke.smcp,
d.smcp,
dcaron.smcp,
dcedilla.smcp,
dcircumflexbelow.smcp,
dcroat.smcp,
ddotaccent.smcp,
ddotbelow.smcp,
dhook.smcp,
dmacronbelow.smcp,
dz.smcp,
dzcaron.smcp,
eth.smcp,
e.smcp,
eacute.smcp,
ebreve.smcp,
ecaron.smcp,
ecedilla.smcp,
ecedillabreve.smcp,
ecircumflex.smcp,
ecircumflexacute.smcp,
ecircumflexbelow.smcp,
ecircumflexdotbelow.smcp,
ecircumflexgrave.smcp,
ecircumflexhookabove.smcp,
ecircumflextilde.smcp,
edblgrave.smcp,
edieresis.smcp,
edotaccent.smcp,
edotbelow.smcp,
egrave.smcp,
ehookabove.smcp,
einvertedbreve.smcp,
emacron.smcp,
emacronacute.smcp,
emacrongrave.smcp,
eogonek.smcp,
eopen.smcp,
estroke.smcp,
etilde.smcp,
etildebelow.smcp,
eturned.smcp,
schwa.smcp,
ezh.smcp,
ezhcaron.smcp,
f.smcp,
fdotaccent.smcp,
g.smcp,
gacute.smcp,
gbreve.smcp,
gcaron.smcp,
gcircumflex.smcp,
gcommaaccent.smcp,
gdotaccent.smcp,
glottalstop.smcp,
glottalstopreversed.smcp,
glottalstopsmall.smcp,
gmacron.smcp,
gstroke.smcp,
h.smcp,
hbar.smcp,
hbrevebelow.smcp,
hcaron.smcp,
hcedilla.smcp,
hcircumflex.smcp,
hdieresis.smcp,
hdotaccent.smcp,
hdotbelow.smcp,
hmacronbelow.smcp,
hturned.smcp,
i.smcp,
idotless.smcp,
iacute.smcp,
ibreve.smcp,
icaron.smcp,
icircumflex.smcp,
idblgrave.smcp,
idieresis.smcp,
idieresisacute.smcp,
idotaccent.smcp,
idotbelow.smcp,
igrave.smcp,
ihookabove.smcp,
iinvertedbreve.smcp,
imacron.smcp,
iogonek.smcp,
istroke.smcp,
itilde.smcp,
itildebelow.smcp,
ij.smcp,
j.smcp,
jdotless.smcp,
jacute.smcp,
jcaron.smcp,
jcircumflex.smcp,
k.smcp,
kacute.smcp,
kcaron.smcp,
kcommaaccent.smcp,
kdotbelow.smcp,
kgreenlandic.smcp,
khook.smcp,
kmacronbelow.smcp,
l.smcp,
lacute.smcp,
lbar.smcp,
lcaron.smcp,
lcircumflexbelow.smcp,
lcommaaccent.smcp,
ldot.smcp,
ldotbelow.smcp,
lj.smcp,
lmacronbelow.smcp,
lslash.smcp,
m.smcp,
macute.smcp,
mdotaccent.smcp,
mdotbelow.smcp,
mturned.smcp,
n.smcp,
nacute.smcp,
ncaron.smcp,
ncircumflexbelow.smcp,
ncommaaccent.smcp,
ndotaccent.smcp,
ndotbelow.smcp,
ngrave.smcp,
nhookleft.smcp,
nj.smcp,
nmacronbelow.smcp,
ntilde.smcp,
eng.smcp,
o.smcp,
oacute.smcp,
obarred.smcp,
obreve.smcp,
ocaron.smcp,
ocircumflex.smcp,
ocircumflexacute.smcp,
ocircumflexdotbelow.smcp,
ocircumflexgrave.smcp,
ocircumflexhookabove.smcp,
ocircumflextilde.smcp,
odblgrave.smcp,
odieresis.smcp,
odieresismacron.smcp,
odotaccent.smcp,
odotaccentmacron.smcp,
odotbelow.smcp,
ograve.smcp,
ohookabove.smcp,
ohorn.smcp,
ohornacute.smcp,
ohorndotbelow.smcp,
ohorngrave.smcp,
ohornhookabove.smcp,
ohorntilde.smcp,
ohungarumlaut.smcp,
oinvertedbreve.smcp,
omacron.smcp,
omacronacute.smcp,
omacrongrave.smcp,
oogonek.smcp,
oogonekmacron.smcp,
oopen.smcp,
oslash.smcp,
oslashacute.smcp,
otilde.smcp,
otildeacute.smcp,
otildedieresis.smcp,
otildemacron.smcp,
oe.smcp,
p.smcp,
pacute.smcp,
pdotaccent.smcp,
thorn.smcp,
q.smcp,
r.smcp,
racute.smcp,
rcaron.smcp,
rcommaaccent.smcp,
rdblgrave.smcp,
rdotaccent.smcp,
rdotbelow.smcp,
rdotbelowmacron.smcp,
rinvertedbreve.smcp,
rmacronbelow.smcp,
s.smcp,
sacute.smcp,
sacutedotaccent.smcp,
scaron.smcp,
scarondotaccent.smcp,
scedilla.smcp,
scircumflex.smcp,
scommaaccent.smcp,
sdotaccent.smcp,
sdotbelow.smcp,
sdotbelowdotaccent.smcp,
germandbls.smcp,
longs.smcp,
t.smcp,
tbar.smcp,
tcaron.smcp,
tcedilla.smcp,
tcircumflexbelow.smcp,
tcommaaccent.smcp,
tdiagonalstroke.smcp,
tdieresis.smcp,
tdotaccent.smcp,
tdotbelow.smcp,
tmacronbelow.smcp,
u.smcp,
uacute.smcp,
ubar.smcp,
ubreve.smcp,
ucaron.smcp,
ucircumflex.smcp,
ucircumflexbelow.smcp,
udblgrave.smcp,
udieresis.smcp,
udieresisacute.smcp,
udieresisbelow.smcp,
udieresisgrave.smcp,
udieresismacron.smcp,
udotbelow.smcp,
ugrave.smcp,
uhookabove.smcp,
uhorn.smcp,
uhornacute.smcp,
uhorndotbelow.smcp,
uhorngrave.smcp,
uhornhookabove.smcp,
uhorntilde.smcp,
uhungarumlaut.smcp,
uinvertedbreve.smcp,
umacron.smcp,
umacrondieresis.smcp,
uogonek.smcp,
"upsilon-latin.smcp",
uring.smcp,
utilde.smcp,
utildeacute.smcp,
utildebelow.smcp,
v.smcp,
vdotbelow.smcp,
vtilde.smcp,
vturned.smcp,
w.smcp,
wacute.smcp,
wcircumflex.smcp,
wdieresis.smcp,
wdotaccent.smcp,
wdotbelow.smcp,
wgrave.smcp,
x.smcp,
xdieresis.smcp,
xdotaccent.smcp,
y.smcp,
yacute.smcp,
ycircumflex.smcp,
ydieresis.smcp,
ydotaccent.smcp,
ydotbelow.smcp,
ygrave.smcp,
yhook.smcp,
yhookabove.smcp,
ymacron.smcp,
ytilde.smcp,
z.smcp,
zacute.smcp,
zcaron.smcp,
zcircumflex.smcp,
zdotaccent.smcp,
zdotbelow.smcp,
zmacronbelow.smcp,
saltillo.smcp,
idotbelow.dotless.smcp,
iogonek.dotless.smcp,
istroke.dotless.smcp,
itildebelow.dotless.smcp,
lcommaaccent.loclMAH.smcp,
ncommaaccent.loclMAH.smcp,
eng.smcp.ss01,
f_f.sc,
f_f_i.sc,
f_f_l.sc,
fi.sc,
fl.sc,
ordfeminine.sc,
ordmasculine.sc,
ordfeminine,
ordmasculine,
clickretroflex,
imod,
nmod,
wmod,
ymod,
clickalveolar,
clickdental,
clicklateral,
"A-cy",
"Be-cy",
"Ve-cy",
"Ge-cy",
"Gje-cy",
"De-cy",
"Ie-cy",
"Io-cy",
"Zhe-cy",
"Ze-cy",
"Ii-cy",
"Iishort-cy",
"Ka-cy",
"Kje-cy",
"El-cy",
"Em-cy",
"En-cy",
"O-cy",
"Pe-cy",
"Er-cy",
"Es-cy",
"Te-cy",
"U-cy",
"Ushort-cy",
"Ef-cy",
"Ha-cy",
"Tse-cy",
"Che-cy",
"Sha-cy",
"Shcha-cy",
"Dzhe-cy",
"Softsign-cy",
"Yeru-cy",
"Hardsign-cy",
"Lje-cy",
"Nje-cy",
"Dze-cy",
"E-cy",
"Ereversed-cy",
"I-cy",
"Yi-cy",
"Je-cy",
"Tshe-cy",
"Yu-cy",
"Ya-cy",
"Dje-cy",
"Geupturn-cy",
"Psi-cy",
"a-cy",
"be-cy",
"ve-cy",
"ge-cy",
"gje-cy",
"de-cy",
"ie-cy",
"io-cy",
"zhe-cy",
"ze-cy",
"ii-cy",
"iishort-cy",
"ka-cy",
"kje-cy",
"el-cy",
"em-cy",
"en-cy",
"o-cy",
"pe-cy",
"er-cy",
"es-cy",
"te-cy",
"u-cy",
"ushort-cy",
"ef-cy",
"ha-cy",
"tse-cy",
"che-cy",
"sha-cy",
"shcha-cy",
"dzhe-cy",
"softsign-cy",
"yeru-cy",
"hardsign-cy",
"lje-cy",
"nje-cy",
"dze-cy",
"e-cy",
"ereversed-cy",
"i-cy",
"yi-cy",
"je-cy",
"tshe-cy",
"yu-cy",
"ya-cy",
"dje-cy",
"geupturn-cy",
"a-cy.smcp",
"be-cy.smcp",
"ve-cy.smcp",
"ge-cy.smcp",
"gje-cy.smcp",
"geupturn-cy.smcp",
"de-cy.smcp",
"ie-cy.smcp",
"io-cy.smcp",
"zhe-cy.smcp",
"ze-cy.smcp",
"ii-cy.smcp",
"iishort-cy.smcp",
"ka-cy.smcp",
"kje-cy.smcp",
"el-cy.smcp",
"em-cy.smcp",
"en-cy.smcp",
"o-cy.smcp",
"pe-cy.smcp",
"er-cy.smcp",
"es-cy.smcp",
"te-cy.smcp",
"u-cy.smcp",
"ushort-cy.smcp",
"ef-cy.smcp",
"ha-cy.smcp",
"tse-cy.smcp",
"che-cy.smcp",
"sha-cy.smcp",
"shcha-cy.smcp",
"dzhe-cy.smcp",
"softsign-cy.smcp",
"yeru-cy.smcp",
"hardsign-cy.smcp",
"lje-cy.smcp",
"nje-cy.smcp",
"dze-cy.smcp",
"e-cy.smcp",
"ereversed-cy.smcp",
"i-cy.smcp",
"yi-cy.smcp",
"je-cy.smcp",
"tshe-cy.smcp",
"yu-cy.smcp",
"ya-cy.smcp",
"dje-cy.smcp",
Alpha,
Beta,
Delta,
Epsilon,
Zeta,
Eta,
Theta,
Iota,
Kappa,
Lambda,
Mu,
Nu,
Xi,
Omicron,
Pi,
Rho,
Sigma,
Tau,
Upsilon,
Chi,
Omega,
Alphatonos,
Epsilontonos,
Etatonos,
Iotatonos,
Omicrontonos,
Upsilontonos,
Omegatonos,
Iotadieresis,
Upsilondieresis,
Gamma,
Phi,
Psi,
beta,
epsilon,
iota,
lambda,
mu,
omicron,
pi,
iotatonos,
iotadieresis,
iotadieresistonos,
upsilontonos,
upsilondieresis,
upsilondieresistonos,
omicrontonos,
omegatonos,
alphatonos,
epsilontonos,
etatonos,
alpha,
gamma,
delta,
zeta,
eta,
theta,
kappa,
nu,
xi,
rho,
sigmafinal,
sigma,
tau,
upsilon,
phi,
chi,
psi,
omega,
kaiSymbol,
gamma.sc,
delta.sc,
pi.sc,
sigmafinal.sc,
alpha.smcp,
beta.smcp,
gamma.smcp,
delta.smcp,
epsilon.smcp,
zeta.smcp,
eta.smcp,
theta.smcp,
iota.smcp,
kappa.smcp,
lambda.smcp,
mu.smcp,
nu.smcp,
xi.smcp,
omicron.smcp,
pi.smcp,
rho.smcp,
sigmafinal.smcp,
tau.smcp,
upsilon.smcp,
phi.smcp,
chi.smcp,
psi.smcp,
omega.smcp,
iotatonos.smcp,
iotadieresis.smcp,
upsilontonos.smcp,
upsilondieresis.smcp,
omicrontonos.smcp,
omegatonos.smcp,
alphatonos.smcp,
epsilontonos.smcp,
etatonos.smcp,
amod,
eOpenmod,
emod,
istrokemod,
oOpenmod,
omod,
thetamod,
ubarmod,
umod,
zmod,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
zero.zero,
zero.lnum,
one.lnum,
two.lnum,
three.lnum,
four.lnum,
five.lnum,
six.lnum,
seven.lnum,
eight.lnum,
nine.lnum,
zero.osf,
one.osf,
two.osf,
three.osf,
four.osf,
five.osf,
six.osf,
seven.osf,
eight.osf,
nine.osf,
zero.tf,
one.tf,
two.tf,
three.tf,
four.tf,
five.tf,
six.tf,
seven.tf,
eight.tf,
nine.tf,
zero.tosf,
one.tosf,
two.tosf,
three.tosf,
four.tosf,
five.tosf,
six.tosf,
seven.tosf,
eight.tosf,
nine.tosf,
zero.lf.zero,
zero.osf.zero,
zero.tf.zero,
zero.tosf.zero,
zero.dnom,
one.dnom,
two.dnom,
three.dnom,
four.dnom,
five.dnom,
six.dnom,
seven.dnom,
eight.dnom,
nine.dnom,
zero.numr,
one.numr,
two.numr,
three.numr,
four.numr,
five.numr,
six.numr,
seven.numr,
eight.numr,
nine.numr,
fraction,
onehalf,
onethird,
twothirds,
onequarter,
threequarters,
oneeighth,
threeeighths,
fiveeighths,
seveneighths,
zeroinferior,
oneinferior,
twoinferior,
threeinferior,
fourinferior,
fiveinferior,
sixinferior,
seveninferior,
eightinferior,
nineinferior,
zerosuperior,
onesuperior,
twosuperior,
threesuperior,
foursuperior,
fivesuperior,
sixsuperior,
sevensuperior,
eightsuperior,
ninesuperior,
space,
nbspace,
enspace,
emspace,
enquad,
emquad,
threeperemspace,
fourperemspace,
sixperemspace,
figurespace,
punctuationspace,
thinspace,
hairspace,
zerowidthspace,
zerowidthnonjoiner,
zerowidthjoiner,
narrownbspace,
"mediumspace-math",
.notdef,
.null,
CR,
DEL,
NULL,
anoteleia,
questiongreek,
"leftanglebracket-math",
"rightanglebracket-math",
period,
comma,
colon,
semicolon,
ellipsis,
exclam,
exclamdown,
question,
questiondown,
periodcentered,
bullet,
asterisk,
dblverticalbar,
exclamdouble,
numbersign,
overline,
slash,
backslash,
periodcentered.case,
bullet.case,
slash.case,
backslash.case,
periodcentered.loclCAT,
periodcentered.loclCAT.case,
hyphen,
endash,
emdash,
figuredash,
horizontalbar,
hyphentwo,
nonbreakinghyphen,
underscore,
hyphen.case,
endash.case,
emdash.case,
figuredash.case,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
parenleft.case,
parenright.case,
braceleft.case,
braceright.case,
bracketleft.case,
bracketright.case,
quotesinglbase,
quotedblbase,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
quotereversed,
guillemetleft,
guillemetright,
guilsinglleft,
guilsinglright,
quotedbl,
quotesingle,
guillemetleft.case,
guillemetright.case,
guilsinglleft.case,
guilsinglright.case,
underscoredbl,
florin,
"numeral-greek",
"lowernumeral-greek",
"note-musical",
"notedbl-musical",
baht,
colonmod,
doubleapostrophemod,
minusmod,
shortequalmod,
at,
ampersand,
paragraph,
section,
copyright,
registered,
published,
trademark,
careof,
degree,
minute,
second,
bar,
brokenbar,
dagger,
literSign,
daggerdbl,
estimated,
numero,
cadauna,
servicemark,
at.case,
A.circled,
a.circled,
cedi,
cent,
colonsign,
currency,
dollar,
dong,
euro,
franc,
guarani,
hryvnia,
kip,
lari,
lira,
liraTurkish,
manat,
naira,
nordicMark,
peseta,
peso,
ruble,
rupee,
rupeeIndian,
sheqel,
sterling,
tenge,
won,
yen,
cent.tnum,
currency.tnum,
dollar.tnum,
euro.tnum,
franc.tnum,
lira.tnum,
sterling.tnum,
yen.tnum,
tugrik,
YturnedSansSerif,
bulletoperator,
commercialMinusSign,
divisionslash,
plus,
minus,
multiply,
divide,
equal,
notequal,
greater,
less,
greaterequal,
lessequal,
plusminus,
approxequal,
asciitilde,
logicalnot,
asciicircum,
infinity,
emptyset,
integral,
Ohm,
increment,
product,
summation,
radical,
micro,
partialdiff,
percent,
perthousand,
upArrow,
northEastArrow,
rightArrow,
southEastArrow,
downArrow,
southWestArrow,
leftArrow,
northWestArrow,
leftRightArrow,
upDownArrow,
blackCircle,
dottedCircle,
whiteBullet,
lozenge,
whiteSquare,
blackSmallSquare,
whiteSmallSquare,
boxLightDownAndLeft,
boxLightDownAndRight,
boxLightHorizontal,
boxLightUpAndLeft,
boxLightUpAndRight,
boxLightVertical,
tonos,
tonos.case,
dieresistonos,
varia,
varia.case,
dieresiscomb,
dotaccentcomb,
gravecomb,
gravecomb_macroncomb,
acutecomb,
acutecomb_macroncomb,
hungarumlautcomb,
caroncomb.alt,
circumflexcomb,
caroncomb,
brevecomb,
ringcomb,
tildecomb,
macroncomb,
macroncomb_gravecomb,
macroncomb_acutecomb,
hookabovecomb,
verticallineabovecomb,
dblgravecomb,
breveinvertedcomb,
commaturnedabovecomb,
commaabovecomb,
commaaboverightcomb,
horncomb,
dotbelowcomb,
dieresisbelowcomb,
ringbelowcomb,
commaaccentcomb,
commaaccentcomb.loclMAH,
cedillacomb,
ogonekcomb,
verticallinebelowcomb,
circumflexbelowcomb,
brevebelowcomb,
breveinvertedbelowcomb,
tildebelowcomb,
macronbelowcomb,
lowlinecomb,
strokeshortcomb,
doublemacronbelowcomb,
acutemacroncomb,
brevecomb_acutecomb,
brevecomb_gravecomb,
brevecomb_hookabovecomb,
brevecomb_tildecomb,
circumflexcomb_acutecomb,
circumflexcomb_gravecomb,
circumflexcomb_hookabovecomb,
circumflexcomb_tildecomb,
gravemacroncomb,
macronacutecomb,
macrongravecomb,
dieresiscomb.case,
dotaccentcomb.case,
gravecomb.case,
acutecomb.case,
hungarumlautcomb.case,
circumflexcomb.case,
circumflexcomb_gravecomb.case,
circumflexcomb_acutecomb.case,
circumflexcomb_tildecomb.case,
circumflexcomb_hookabovecomb.case,
caroncomb.case,
brevecomb.case,
brevecomb_gravecomb.case,
brevecomb_acutecomb.case,
brevecomb_tildecomb.case,
brevecomb_hookabovecomb.case,
ringcomb.case,
tildecomb.case,
macroncomb.case,
hookabovecomb.case,
dblgravecomb.case,
breveinvertedcomb.case,
commaturnedabovecomb.case,
horncomb.case,
dotbelowcomb.case,
dieresisbelowcomb.case,
commaaccentcomb.case,
cedillacomb.case,
ogonekcomb.case,
brevebelowcomb.case,
macronbelowcomb.case,
dieresis,
dotaccent,
grave,
acute,
hungarumlaut,
circumflex,
firsttonechinese,
secondtonechinese,
caron,
fourthtonechinese,
breve,
ring,
tilde,
macron,
cedilla,
ogonek,
apostrophemod,
commareversedmod,
commaturnedmod,
doubleprimemod,
glottalstopmod,
primemod,
ringhalfleft,
ringhalfright,
verticallinelowmod,
verticallinemod,
glyph00001,
glyph00002,
glyph00155,
glyph00411,
glyph00625,
glyph00626,
glyph00627,
glyph00628,
glyph00629,
glyph00630,
glyph00631,
glyph00632,
glyph00633,
glyph00634,
glyph00852,
glyph00853,
glyph00854,
glyph00855,
glyph00856,
icapitalsmall,
OSlash_part.,
oSlash_part.,
zeroSlash_part.,
udieres.smcparon.sc
)