{
displayStrings = (
v,
w,
x,
y,
z,
"ꞌ",
"/f_f",
"/a.smcp",
"/h.smcp",
"/w.smcp",
"/v.smcp",
"/v.smcp/w.smcp",
"Z/z.smcp",
"Z/z.smcp",
"/z.smcp",
"/m.smcp",
"/kgreenlandic.smcp",
"/jdotless.smcp",
"/j.smcp",
"/idotless.smcp",
"/s.smcp",
S,
"/xdieresis.smcp/xdieresis.smcp/xdotaccent.smcp/xdotaccent.smcp ΘΉΌΎΏβειίϊΐέ/upsilontonos.smcp/upsilondieresis.smcp/omegatonos.smcp/alphatonos.smcp/epsilontonos.smcp/etatonos.smcp Ω∆∆µµ",
n,
"Ɪ",
"ɑ",
"æ",
"ð",
"Ǝ",
"Ə",
"Ʒ",
"Ǥ",
G,
O,
"Ŋ",
"Ɔ",
"Œ",
"Ʊ",
"/Ezh.localGAD",
"ɩ",
"ɍ",
"/b.smcp",
"/dhook.smcp",
"/eth.smcp",
"/eturned.smcp",
"/gstroke.smcp",
"/istroke.smcp",
"/ldot.smcp",
"/mturned.smcp",
"/obarred.smcp",
"/tbar.smcp",
"/longs.smcp",
"/tdiagonalstroke.smcp",
"/vturned.smcp",
"/saltillo.smcp",
"/f_f.sc",
"ª",
"º",
"ⁱ",
"Г",
"Д"
);
}
