{
displayStrings = (
"Г",
"Д",
"Ж",
"АЖ",
"3З",
"И",
"К",
"Л",
"П",
"У",
"Ф",
"Ц",
"Ч",
"Ш",
"Щ",
"Џ",
"Ь",
"ЬЫ",
"Ъ",
"Љ",
"Њ",
"Є",
"Э",
"Ћ",
"IЮ",
"υ/upsilontonos.smcp",
"AА",
"Б",
"/be-cy.smcp",
"/a-cy.smcp",
"А",
"/a-cy.smcp",
"",
"бо",
"ж",
"е",
"и",
"к",
"л",
"м",
"н",
"п",
"Я",
"/ya-cy.smcp",
"/ve-cy.smcp/ya-cy.smcp",
"/geupturn-cy.smcp"
);
}
